# 내장함수

In [1]:
# 절대값으로 바꿔주는 함수
abs(3)

3

In [2]:
abs(-3)

3

In [3]:
# for등으로 반복해서 하나씩 꺼낼 수 있는 자료형의 각 요소들이 "모두" 참이면 True 반환, 하나라도 0이나 None이면 False
all([1,2,3])

True

In [4]:
all([1,2,0])

False

In [5]:
all([1,None,2])

False

In [6]:
# 하나라도 참이면 True
any([1,2,0])

True

In [7]:
any([0,0,0])

False

In [8]:
# 아스키코드로 입력받아 그에 해당하는 문자 출력
chr(97)

'a'

In [9]:
chr(65)

'A'

In [85]:
# 아스키코드값을 찾는 함수
ord('A')

65

In [86]:
ord('a')

97

In [11]:
# 활용 가능한 함수들 찾기
dir([1,2,3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
# divmod(a,b) -> a를 b로 나눈 몫과 나무지를 튜플형태로 리턴

divmod(7,3)   #-> 7을 3으로 나누면 몫 = 2, 나머지 = 1

(2, 1)

In [15]:
# 리스트로 변형해서 저장하기
list(divmod(7,3))

[2, 1]

In [17]:
# (중요) 인덱스와 데이터로 각각 가져오기 -> 유용할 것 같음(코드 짤 때 이거로 먼저 짜고 나중에 i나 key가 필요 없으면 for문 수정하면 됨)
for i, key in enumerate(['up','down', 'left','right']):
    print(i, key)

0 up
1 down
2 left
3 right

In [18]:
# 입력받은 "문자열" 안의 내용을 수행시킴
eval('1+2')

3

In [19]:
eval("'hi' + 'my name is'")

'himy name is'

In [20]:
# (참고) 두 자료형이 다르면 실행 에러
eval("1+'hi'")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
# (중요) 함수명, 리스트를 넣어서 요소가 참인 것만 도출 -> 자동으로 iteration 수행!!!

def positive1(numList):
    result = []
    for num in numList:
        if num>0:
            result.append(num)
    return result

print(positive1([1,-3,2,0,-5,6]))



# (중요) 필터 사용
def positive2(x):
    return x>0

print(filter(positive2,[1,-3,2,0,-5,6]))             # 주의
print(list(filter(positive2,[1,-3,2,0,-5,6])))


# (참고) 람다 사용
print(filter(lambda x: x>0, [1,-3,2,0,-5,6]))        # 주의
print(list(filter(lambda x: x>0, [1,-3,2,0,-5,6])))

[1, 2, 6]
<filter object at 0x000001AC51F83910>
[1, 2, 6]
<filter object at 0x000001AC51F83B20>
[1, 2, 6]

In [40]:
# (중요) int() 활용

print(int('3'))           # 기본

print("="*10)

print(int('100000',2))    # int(x, radix) => radix진수로 표현된 문자열 x를 10진수로 변환  (= 2진수->10진수)
print(int('1010',2))      # int(x, radix) => radix진수로 표현된 문자열 x를 10진수로 변환  (= 2진수->10진수)
print(int('0001',2))      # int(x, radix) => radix진수로 표현된 문자열 x를 10진수로 변환  (= 2진수->10진수)

print("="*10)

print(int('1A',16))       # int(x, radix) => radix진수로 표현된 문자열 x를 10진수로 변환  (= 16진수->10진수)
print(int('C',16))        # int(x, radix) => radix진수로 표현된 문자열 x를 10진수로 변환  (= 16진수->10진수)
print(int('D3',16))       # int(x, radix) => radix진수로 표현된 문자열 x를 10진수로 변환  (= 16진수->10진수)

3
==========
32
10
1
==========
26
12
211

In [72]:
# (매우 중요) Lambda 람다 : 간단한 함수를 한줄로 간결하게 만들 때 사용
#                           lambda 입력변수 : 수식

# ex1 : 기본
suma = lambda a, b:a+b
print(suma(3,4))
print(suma)
print(lambda a, b:a+b)

print("="*10)

# ex2 : 리스트 활용해 여러 개 람다 사용
myList = [lambda a, b:a+b, lambda a, b:a*b]
print(myList)
print(myList[0])
print(myList[0](3,4))
print(myList[1](3,4))

print("="*10)

# ex3 (참고) 람다 사용
print(lambda x: x>0, [1,-3,2,0,-5,6])                # 주의
print(filter(lambda x: x>0, [1,-3,2,0,-5,6]))        # 주의
print(list(filter(lambda x: x>0, [1,-3,2,0,-5,6])))

7
<function <lambda> at 0x000001AC5197D3A0>
<function <lambda> at 0x000001AC5197DEE0>
==========
[<function <lambda> at 0x000001AC51C391F0>, <function <lambda> at 0x000001AC51C39160>]
<function <lambda> at 0x000001AC51C391F0>
7
12
==========
<function <lambda> at 0x000001AC51C39820> [1, -3, 2, 0, -5, 6]
<filter object at 0x000001AC51F83D60>
[1, 2, 6]

In [80]:
# (매우 중요) map(f, iterable) => 함수(f)와 리스트 등을 입력으로 받고
#                                 리스트의 각 요소를 함수에 의해 수행된 결과를 묶어서 리턴

# 기존
def two_times1(numList):
    result = []
    for num in numList:
        result.append(num * 2)
    return result

print(two_times1([1,2,3,4]))

print("="*10)

# map() 활용
def two_times2(x):
    return x*2
print(list(map(two_times2, [1,2,3,4])))

print("="*10)

# lambda 활용
print(list(map(lambda x:x*2, [1,2,3,4])))

print("="*10)

# 예제2
def plus_one(x): return x+1
print(list(map(plus_one, [1,2,3,4])))

print(list(map(lambda x:x+1, [1,2,3,4])))


print("="*10)

print(list(map(int, ['1','2','3'])))

print("="*10)

print(list(map(int, input().split(' '))))

[2, 4, 6, 8]
==========
[2, 4, 6, 8]
==========
[2, 4, 6, 8]
==========
[2, 3, 4, 5]
[2, 3, 4, 5]
==========
[1, 2, 3]
==========
3 5 4 6 8 7 3 10
[3, 5, 4, 6, 8, 7, 3, 10]

In [93]:
# 정렬 1    -> <중요> 내장함수 정렬은 리스트를 정렬해서 리턴을 함!

b = [3,2,1]
c = ['c', 'a', 'b']
a = sorted(b)
print(a)

a = sorted(c)
print(a)

print('\n',"="*10, '\n')

# 정렬 2   -> <중요> 리스트의 .sort()는 해당 리스트만 정렬하고 값을 리턴하지 않음!
z = [3,2,1]
y = ['c', 'a', 'b']
x = y.sort()
print(x)
print(y)

x = z.sort()
print(x)
print(z)

[1, 2, 3]
['a', 'b', 'c']

 ==========

None
['a', 'b', 'c']
None
[1, 2, 3]

# 라이브러리 활용(필요한것만)

## time 관련

In [94]:
import time

# UTC(협정 세계 표준시) 기준 현재 시간을 실수형태로 출력
time.time()

1643883503.9464784

In [95]:
# 위 내용을 형식에 알맞게 출력
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=2, tm_mday=3, tm_hour=19, tm_min=19, tm_sec=10, tm_wday=3, tm_yday=34, tm_isdst=0)

In [96]:
# 위 내용을 보기 쉬운 형태로 출력
time.asctime(time.localtime(time.time()))

'Thu Feb  3 19:20:09 2022'

In [97]:
# 현재 시간 간단하게 출력
time.ctime()

'Thu Feb  3 19:21:02 2022'

In [102]:
# 원하는 형식으로 출력 1
time.strftime('%x', time.localtime(time.time()))

'02/03/22'

In [103]:
# 원하는 형식으로 출력 2
time.strftime('%c', time.localtime(time.time()))

'Thu Feb  3 19:23:01 2022'

## Calendar 관련

In [104]:
import calendar

In [105]:
print(calendar.calendar(2015))

                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [107]:
print(calendar.prmonth(2015,8))

    August 2015
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31
None

In [108]:
print(calendar.weekday(2015,8,29))   #금요일

5

## Random 관련

In [109]:
import random

In [110]:
random.random()

0.5551996039124137

In [111]:
# 1 ~ 10 사이 정수 중 난수 출력
random.randint(1,10)

8